set timeout=5
set default=0

menuentry "Snares Linux" {

    linux /boot/vmlinuz \
        init=/sbin/dinit \
	rd.live.image \
	rd.live.dir=/live \
	rd.live.squashimg=filesystem.squashfs \
	root=live:CDLABEL=SNARES


    initrd /boot/initramfs.img
}
